# Network
TRAEFIK_NETWORK_NAME=traefik-proxy

# Hosts
APP_HOST=app.domaine.name
STORAGE_BACKEND_HOST=storage.domain.name
ROOM_HOST=room.domain.name
MONGOEXPRESS_HOST=mongoexpress.domain.name

# Database
DB_USER=dbuser
DB_PASS=
DB_VOLUME_PATH=/var/lib/mongodb-data

# Mongo Express auth
MONGOEXPRESS_USER=adminuser
MONGOEXPRESS_PASS=

# Traefik labels (fixed names used in docker-compose)
TRAEFIK_LABEL_ID=myapp
TRAEFIK_ENTRYPOINT=websecure
